@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;400;700&family=League+Spartan:wght@100;400;700&display=swap');


*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile  */
@media (min-width: 375px) {
  .App {
    max-height: max-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'League Spartan';
    background-color: #070724;
    color: white;
    padding-bottom: 47px;
  }

  .header {
    width: 100%;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2)
  }

  .header svg {
    display: block;
  }

  .planet-headers {
    display: none;
  }

  .title {
    font-family: 'Antonio';
    font-size: 28px;
    letter-spacing: -1.05px;
  }

  .menu {
    width: 100%;
    height: max-content;
    margin: 24px 0 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
    overflow: hidden;
  }

  .planets {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 21px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1)
  }

  .planets:last-child {
    border: unset;
  }

  .left {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }

  .planet-size {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .planet-name {
    font-family: 'League Spartan';
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1.364px;
    text-transform: uppercase;
  }

  .Planet {
    width: 100%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-planet-header {
    width: 100%;
    padding: 20px 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    margin-bottom: 15%;
  }

  .about-planet-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-planet-title p {
    font-family: 'League Spartan';
    font-size: 9px;
    font-weight: 700;
    letter-spacing: 1.929px;
  }

  .about-planet-title hr {
    width: 75px;
    height: 4px;
    margin-top: 16px;
    border: unset;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .image {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 17%;
  }

  .image-planet {
    width: 70%;
    height: 70%;
  }

  .planet-title {
    text-align: center;
    font-family: 'Antonio';
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  .planet-review {
    color: #FFF;
    text-align: center;
    font-family: 'League Spartan';
    font-size: 16px;
    font-weight: lighter;
    line-height: 22px;
    margin-bottom: 32px;
  }

  .planet-source {
    text-align: center;
    color: #FFF;
    font-family: 'League Spartan';
    font-weight: lighter;
    font-size: 13px;
    line-height: 25px;
    opacity: 0.5;
    margin-bottom: 28px;
  }

  .planet-filter {
    display: none;
  }

  .wikipedia {
    font-family: 'League Spartan';
    font-size: 12px;
    font-weight: 700;
    line-height: 25px;
    text-decoration-line: underline;
  }

  .wikipedia-svg {
    margin-left: 5px;
    vertical-align: text-bottom;
  }

  .footer-containers {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }

  .planet-details {
    width: 100%;
    height: max-content;
    padding: 9px 24px 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(255, 255, 255, 0.2);
  }

  .details-title {
    color: rgb(255, 255, 255, 0.5);
    font-family: 'League Spartan';
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1px;
    margin-top: 3px;
  }

  .details-number {
    font-family: 'Antonio';
    font-size: 20px;
    letter-spacing: -0.75px;
  }

  .image-surface {
    width: 30%;
    height: 30%;
    position: relative;
    bottom: 120px;
    margin-bottom: -135px;
  }
}


/* Tablet  */
@media (min-width: 768px) {
  .App {
    max-height: max-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'League Spartan';
    background-color: #070724;
    color: white;
    padding-top: 32px;
    padding-bottom: 36px;
  }

  .header {
    width: 100%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2)
  }

  .header svg {
    display: none;
  }

  .planet-headers {
    width: 100%;
    display: flex;
    gap: 33px;
    justify-content: space-between;
    align-items: center;
    padding: 39px 0 27px;
  }

  .title {
    font-family: 'Antonio';
    font-size: 28px;
    letter-spacing: -1.05px;
  }

  .menu {
    width: 100%;
    height: 100%;
    margin: 24px 0 46px;
    position: absolute;
    z-index: -9;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
    overflow: hidden;
  }

  .Planet {
    width: 100%;
  }

  .planet-link {
    font-family: 'League Spartan';
    font-size: 11px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.8;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-planet-header {
    width: 100%;
    padding: 20px 24px 0;
    position: absolute;
    z-index: -9;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .image {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15%;
  }

  .image-planet {
    width: 40%;
    height: 40%;
  }

  .planet-main {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .planet-filter {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 16px;
  }

  .filter-number {
    margin-right: 17px;
    opacity: 0.5;
  }

  .filter-text,
  .filter-number {
    font-family: 'League Spartan';
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .planet-text {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .planet-title {
    text-align: left;
    font-family: 'Antonio';
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  .planet-review {
    color: #FFF;
    text-align: left;
    font-family: 'League Spartan';
    font-size: 16px;
    font-weight: lighter;
    line-height: 22px;
    margin-bottom: 32px;
  }

  .planet-source {
    text-align: left;
    color: #FFF;
    font-family: 'League Spartan';
    font-weight: lighter;
    font-size: 13px;
    line-height: 25px;
    opacity: 0.5;
    margin-bottom: 28px;
  }

  .wikipedia {
    font-family: 'League Spartan';
    font-size: 12px;
    font-weight: 700;
    line-height: 25px;
    text-decoration-line: underline;
  }

  .wikipedia-svg {
    margin-left: 5px;
    vertical-align: text-bottom;
  }

  .footer-containers {
    width: 100%;
    height: 88px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 11px;
  }

  .planet-details {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 6px;
    padding: 13px 16px 19px;
    border: 1px solid rgb(255, 255, 255, 0.2);
  }

  .details-title {
    opacity: 0.8;
    font-family: 'League Spartan';
    font-size: 11px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.727px;
    text-transform: uppercase;
  }

  .details-number {
    font-family: 'Antonio';
    font-size: 24px;
    letter-spacing: -0.9px;
    text-transform: uppercase;
  }

  .image-surface {
    width: 20%;
    height: 20%;
    position: relative;
    bottom: 120px;
    margin-bottom: -175px;
  }
}


/* Desktop  */
@media (min-width: 1440px) {
  .App {
    max-height: max-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'League Spartan';
    background-color: #070724;
    color: white;
    padding-top: 0px;
    padding-bottom: 56px;
  }

  .header {
    width: 100%;
    padding: 0 41px 0 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
  }

  .header svg {
    display: none;
  }

  .planet-headers {
    width: 51%;
    display: flex;
    gap: 33px;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 27px 0;
  }

  .title {
    font-family: 'Antonio';
    font-size: 28px;
    letter-spacing: -1.05px;
  }

  .menu {
    width: 100%;
    height: 100%;
    margin: 24px 0 46px;
    position: absolute;
    z-index: -9;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
    overflow: hidden;
  }

  .Planet {
    width: 100%;
  }

  .planet-link {
    font-family: 'League Spartan';
    font-size: 13px;
    font-weight: normal;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.8;
    padding-top: 25px;
    border-top-width: 4px;
    border-top-style: solid;
  }

  .planet-link:hover {
    opacity: 1;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-planet-header {
    width: 100%;
    padding: 20px 24px 0;
    position: absolute;
    z-index: -9;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .content {
    display: flex;
    width: 100%;
    height: 80%;
  }

  .image {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15%;
  }

  .image-planet {
    width: 60%;
    height: 60%;
  }

  .planet-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  .planet-filter {
    width: 70%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 16px;
  }

  .filter-number {
    color: #FFF;
    font-family: 'League Spartan';
    font-size: 12px;
    font-weight: normal;
    line-height: 25px;
    letter-spacing: 2.571px;
    text-transform: uppercase;
  }

  .filter-text {
    font-family: 'League Spartan';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2.571px;
    text-transform: uppercase;
  }

  .planet-text {
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  .planet-title {
    text-align: left;
    font-family: 'Antonio';
    font-size: 80px;
    text-transform: uppercase;
  }

  .planet-review {
    color: #FFF;
    text-align: left;
    font-family: 'League Spartan';
    font-size: 18px;
    font-weight: lighter;
    line-height: 25px;
    margin-bottom: 24px;
  }

  .planet-source {
    text-align: left;
    color: #FFF;
    font-family: 'League Spartan';
    font-weight: lighter;
    font-size: 16px;
    line-height: 25px;
    opacity: 0.5;
    margin-bottom: 40px;
  }

  .wikipedia {
    font-family: 'League Spartan';
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-decoration-line: underline;
  }

  .wikipedia-svg {
    margin-left: 8px;
    vertical-align: text-bottom;
  }

  .footer-containers {
    width: 100%;
    height: 128px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
  }

  .planet-details {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 6px;
    padding: 20px 23px 27px;
    border: 1px solid rgb(255, 255, 255, 0.2);
  }

  .details-title {
    opacity: 0.8;
    font-family: 'League Spartan';
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .details-number {
    font-family: 'Antonio';
    font-size: 40px;
    letter-spacing: -1.5px;
    text-transform: uppercase;
  }

  .image-surface {
    width: 25%;
    height: 25%;
    position: relative;
    bottom: 140px;
    margin-bottom: -160px;
  }
}



